<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516464037352-tg2nrl2degbv56qn518lbjh1bh9btrhj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516464037352-tg2nrl2degbv56qn518lbjh1bh9btrhj</string>
	<key>API_KEY</key>
	<string>AIzaSyDicJS2x5RAh0XsKc3covN98Gf2CUhqr1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>516464037352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.playstage.playstage</string>
	<key>PROJECT_ID</key>
	<string>playstage-dev-b0ba8</string>
	<key>STORAGE_BUCKET</key>
	<string>playstage-dev-b0ba8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516464037352:ios:ca1fe652f884594488685d</string>
</dict>
</plist>